*.o
*.txt
*.so
*.out
*.gch
*~
*.egg-info/*
*.ipynb
sandbox/*
*__pycache__/
*dSYM/
lazy
*#*
*pyxbld
*pyxbldc
*pyx
*pxd
*.dmg
direct
reduced
scaling

operators.h
operators.c
*.DS_Store
*_wrap.c
*_wrap.cpp
*.s
*.pyc
