on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11' ]
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install poetry
        run: pip install poetry
      - name: Install package and dependencies
        run: poetry config virtualenvs.create false && poetry install
      - name: Tests
        run: poetry run pytest tests
      - name: Black
        run: poetry run black .
